<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Shop POS & Appointment System</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    
    <!-- HEADER & NAVIGATION -->
    <header>
        <nav>
            <a href="/">
                <img src="../assets/laundry-logo.png" alt="LaundryLogo">
                <span>Nathanael's Laundry Shop</span>
            </a>
            <div>
                <button id="open-login">Login</button>
            </div>
        </nav>
    </header>

    <div class="modal-overlay" id="login-modal">
        <div class="login-box">
            <a href="#" class="close-btn">&times;</a>

            <div class="login-form">
                <div class="logo">
                    <img src="../assets/laundry-logo.png" alt="LaundryLogo">
                </div>
                <h1>Login to Your Account</h1>
                <div id="login-message-box" class="message-box"></div>
                <form>
                    <div class="input-group">
                        <input type="email" placeholder="Email" required autocomplete="email">
                    </div>
                    <div class="input-group password-group">
                        <input type="password" placeholder="Password" required>
                        <span class="eye-icon">👁</span>
                    </div>
                    
                    <button type="submit" class="sign-in-btn">Sign In</button>
                </form>
            </div>

            <div class="signup-panel">
                <h2>New Here?</h2>
                <p>Sign up and discover a great amount of new opportunities!</p>
                <button id="slide-to-signup">Sign Up</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay" id="signup-modal">
        <div class="signup-box">
            <a href="#" class="close-btn">&times;</a>

            <div class="signup-form">
                <div class="logo">
                    <img src="../assets/laundry-logo.png" alt="LaundryLogo">
                </div>
                <h1>Signup to Your Account</h1>
                <div id="signup-message-box" class="message-box"></div>
                <form>
                    <div class="input-group">
                        <input type="text" placeholder="Name" required>
                    </div>
                    <div class="input-group">
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="input-group password-group">
                        <input type="password" placeholder="Password" required>
                        <span class="eye-icon">👁</span>
                    </div>
                    <button type="submit" class="sign-in-btn">Sign In</button>
                </form>
            </div>

            <div class="login-panel">
                <h2>Have an Account?</h2>
                <p>Login and discover a great amount of new opportunities!</p>
                <button id="slide-to-back-login">Login</button>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT INCLUSION -->
    <main>
        <%- include(contentPartial) %>
    </main>

    <script src="../assets/js/init.js"></script>
    <script src="../assets/js/modal.js"></script>
</body>
</html>